coffee_detector:
  target: dev
  outputs:
    dev:
      type: duckdb
      path: 'coffee_detector.duckdb'
      attach:
        - path: '../ingestion/loffeelabs/files/warehouse.db'
          alias: loffeelabs
          read_only: true
        - path: '../ingestion/overpass/files/warehouse.db'
          alias: overpass
          read_only: true
      schema: main
      threads: 4
